@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.h1-breeserif {
  font-family: 'Bree Serif', serif;
  color: rgb(165, 193, 212);
}

@media screen and (max-width: 600px) {
  .h1-breeserif {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .h1-breeserif {
    font-size: 72px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.app h3 {
  text-align: center;
  color: #666;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.loading {
  text-align: center;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.chat-message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.chat-message.assistant {
  color: #000;
  background-color: #e6e6e6;
  align-self: flex-start;
}

.chat-message.user {
  background-color: #0084ff;
  color: white;
  align-self: flex-end;
}

.chat-window input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.send-button {
  font-size: 24px;
  color: #007BFF;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.message-input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loading {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}

.dot-flashing {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #ccc;
  box-shadow: 1.2rem 0 0 #ccc, 2.4rem 0 0 #ccc;
  animation: dot-flashing 1s infinite linear;
}

@keyframes dot-flashing {
  0% { box-shadow: 1.2rem 0 0 #ccc, 2.4rem 0 0 #ccc; }
  50% { box-shadow: 1.2rem 0 0 transparent, 2.4rem 0 0 transparent; }
  100% { box-shadow: 1.2rem 0 0 #ccc, 2.4rem 0 0 #ccc; }
}

.carlos-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.suggestion-item {
  list-style-type: none; /* Remove bullet points */
  padding: 10px;
  cursor: pointer; /* Make it look clickable */
  border: 1px solid #eee;
  margin-top: -1px; /* This will make them stack nicely */
  background-color: #3d3b3b;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}