@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.h1-breeserif {
  font-family: 'Bree Serif', serif;
  color: var(--text-color-light);
}

@media screen and (max-width: 600px) {
  .h1-breeserif {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .h1-breeserif {
    font-size: 72px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  max-width: 800px;  /* Adjust this to your preference */
  margin-left: auto;
  margin-right: auto;
}

.app h3 {
  text-align: center;
  color: var(--text-color-light);
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.loading {
  text-align: center;
}

.loading {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}

.dot-flashing {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #ccc;
  box-shadow: 1.2rem 0 0 #ccc, 2.4rem 0 0 #ccc;
  animation: dot-flashing 1s infinite linear;
}

@keyframes dot-flashing {
  0% { box-shadow: 1.2rem 0 0 #ccc, 2.4rem 0 0 #ccc; }
  50% { box-shadow: 1.2rem 0 0 transparent, 2.4rem 0 0 transparent; }
  100% { box-shadow: 1.2rem 0 0 #ccc, 2.4rem 0 0 #ccc; }
}

.banner {
  display: flex;
  justify-content: space-between; /* Distributes the items horizontally */
  align-items: center; /* Vertically centers the items */
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 10px;
  scrollbar-width: none;
}

.banner::-webkit-scrollbar {
  display: none;
}

button:hover {
  background-color: #0056b3;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  padding: 20px;
  width: 65%;
  z-index: 1000; /* Puts the modal above other elements */
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Universal box sizing with border box for consistency in width/height calculations */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Updated styles for input and button */
.travelers-dropdown button {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-light);
  background-color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.airport-input {
  background-color: var(--input-color);
  color: var(--text-color-dark);
  font-size: 14px;
  width: 100%;
  padding: 10px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid var(--main-color);
}

/* Dropdown styles for the locations and travelers panel */
.suggestion-item, .travelers-panel {
  list-style-type: none;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--input-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: var(--text-color-dark);
}

/* Styles for travelers dropdown controls */
.traveler-control {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 5px 0;
}

.traveler-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  font-size: 18px;
}

.traveler-control label {
  flex-grow: 1;
  padding: 0 10px;
}

.traveler-count {
  margin: 0 5px;
}

.base-input {
  background-color: var(--input-color);
  color: var(--text-color-dark);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 5px;
  
  /* Remove default appearances for some browsers (e.g., the blue outline) */
  outline: none;
  box-shadow: none;
}

.suggestions button {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  margin-top: 6px;
  margin-right: 6px;
}

.carlos-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  transform: translateX(-10px); /* Shifts 50px to the left */
}

.search-button {
  margin-top: auto;
  background-color: var(--main-color);
}

.color-rectangle {
  width: 200px;      /* width of the rectangle */
  height: 100px;     /* height of the rectangle */
  background-color: var(--carlos-color);  /* placeholder color */
  margin-top: 20px;  /* optional margin for spacing */
}

/* Error message styling from AirportAutocomplete */
.error-message {
  color: red;
  margin-top: 5px;
}

/* Add some space between the thumbs and the textarea */
.thumbs-section {
  margin-bottom: 10px;
}

.thumbs-section button {
  margin-right: 10px;
}

/* Remove margin for the last button to ensure it doesn't have unnecessary space on its right */
.thumbs-section button:last-child {
  margin-right: 0;
}

.active-thumb {
  background-color: blue;
  border: none;
  outline: none;
}

/* Add space between the textarea and the submit button */
.feedback-textarea {
  display: block;
  width: 300px;
  margin: 10px 0;
}

/* Space between ChatWindow and Feedback section */
.feedback-section {
  margin-top: 20px;
}

